<?php
$backlink = $data['backlink'];
?>
<?php include('../app/Brolaugh/templates/blog/head.twig') ?>
<body>
<?php include('../app/Brolaugh/templates/blog/header.twig') ?>
<div class="container-fluid">
    <div class="row">
        <main class="col-md-8">
            <h1>Error 404</h1>
            <h2>Looks like you found a page that doesn't exist</h2>
            <p>Head back where you came from with this: <a href="<?= $backlink ?>">Link</a></p>
        </main>
    </div>


</div>
<?php include('../app/Brolaugh/templates/footer.php') ?>
</body>
