<table class="table-striped">
    <tr>
        <th>Blog name</th>
        <th>Link</th>
    </tr>
    {% for blog in blogs %}
        <tr>
          <td>
            {{ blog.title }}
          </td>
          <td>
            <a href="{{blog.name}}">
              Link
            </a>
          </td>
        </tr>
    {% endfor %}
</table>
