<header class="container-fluid">
    <div class="col-md-12 col-lg-12">
        <div class="jumbotron">
            <img src="http://demo.qodeinteractive.com/central/wp-content/uploads/2013/05/header.jpg" alt=""
                 class="img-responsive"/>
        </div>
    </div>
</header>